# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

In [1]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

In [4]:
# A CVS file is a text files with rows. Values in each row are separeted with a delimiter, like ",", ";", etc

### Load the data set "cars_data" through Pandas.

In [7]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\03_nbi_yh\korta_yh_kurser\python_f√∂r_ai\kunskapskontroll_1\cars_data.csv')

### Print the first 10 rows of the data.

In [14]:
filename = 'cars_data.csv'
df = pd.read_csv(filename)
print(f"First 10 rows of file {filename} \n{df.head(10)}")

First 10 rows of file cars_data.csv
   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc
7      9          bmw        sedan       101.2   176.8         ohc
8     10          bmw        sedan       101.2   176.8         ohc
9     11          bmw        sedan       101.2   176.8         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
7             four         101               23  16430.0
8             four         101               23  16925.0
9              six         121               21  20970.0

### Print the last 5 rows.

In [16]:
print(f"Last 5 rows of file {filename} \n{df.tail(5)}")

Last 5 rows of file cars_data.csv
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

### By using the info method, check how many non-null rows each column have.

In [19]:
print(f"Check number of rows that are not-null for each column in file {filename} \n")
print(f"{df.info()}")

Check number of rows that are not-null for each column in file cars_data.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB
None

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [26]:
df_cleaned = df.dropna()
print(f"Check number of rows that are not-null for each column in file AFTER dropping rows with null-data in {filename} \n")
print(f"{df_cleaned.info()}")

Check number of rows that are not-null for each column in file AFTER dropping rows with null-data in cars_data.csv

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             58 non-null     int64
 1   company           58 non-null     object
 2   body-style        58 non-null     object
 3   wheel-base        58 non-null     float64
 4   length            58 non-null     float64
 5   engine-type       58 non-null     object
 6   num-of-cylinders  58 non-null     object
 7   horsepower        58 non-null     int64
 8   average-mileage   58 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 5.0+ KB
None

### Calculate the mean of each numeric column.

In [28]:
print(f"wheel-base mean = { df_cleaned['wheel-base'].mean():.1f}")
print(f"length mean = { df_cleaned['length'].mean():.1f}")
print(f"horsepower mean = { df_cleaned['horsepower'].mean():.1f}")
print(f"average-mileage mean = { df_cleaned['average-mileage'].mean():.1f}")
print(f"price mean = { df_cleaned['price'].mean():.1f}")

wheel-base mean = 98.6
length mean = 173.6
horsepower mean = 106.1
average-mileage mean = 25.5
price mean = 15387.0

### Select the rows where the column "company" is equal to 'honda'.

In [30]:
honda_rows = df_cleaned.query("company == 'honda'")
print(honda_rows)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
18          76               30   7295.0
19         101               24  12945.0
20         100               25  10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [32]:
df_sorted = df_cleaned.sort_values(by='price', ascending=False)
print(f"First 10 rows of sorted table \n{df_sorted.head(10)}")
print(f"Last 5 rows of sorted table\n{df_sorted.tail(5)}")

First 10 rows of sorted table
    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc
26     35         jaguar        sedan       102.0   191.7        ohcv
25     34         jaguar        sedan       113.0   199.6        dohc
45     61        porsche      hardtop        89.5   168.9        ohcf
24     33         jaguar        sedan       113.0   199.6        dohc
10     13            bmw        sedan       103.5   189.0         ohc

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0
26           twelve         262               13  36000.0
25              six         176               15  35550.0
45              six         207               17  34028.0
24              six         176               15  32250.0
10              six         182               16  30760.0
Last 5 rows of sorted table
    index     company body-style  wheel-base  length engine-type  \
28     37       mazda  hatchback        93.1   159.1         ohc
36     49  mitsubishi  hatchback        93.7   157.3         ohc
48     66      toyota  hatchback        95.7   158.7         ohc
27     36       mazda  hatchback        93.1   159.1         ohc
13     16   chevrolet  hatchback        88.4   141.1           l

   num-of-cylinders  horsepower  average-mileage   price
28             four          68               31  6095.0
36             four          68               37  5389.0
48             four          62               35  5348.0
27             four          68               30  5195.0
13            three          48               47  5151.0

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [34]:
selected_companies = ['audi', 'bmw', 'porsche']
df_premium = df_cleaned[df_cleaned['company'].isin(selected_companies)]
print(f"First 10 rows of premium cars \n{df_premium.head(10)}")
print(f"Last 5 rows of premium cars\n{df_premium.tail(5)}")

First 10 rows of premium cars
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
3       3    audi      sedan        99.8   176.6         ohc             four
4       4    audi      sedan        99.4   176.6         ohc             five
5       5    audi      sedan        99.8   177.3         ohc             five
6       6    audi      wagon       105.8   192.7         ohc             five
7       9     bmw      sedan       101.2   176.8         ohc             four
8      10     bmw      sedan       101.2   176.8         ohc             four
9      11     bmw      sedan       101.2   176.8         ohc              six
10     13     bmw      sedan       103.5   189.0         ohc              six
11     14     bmw      sedan       103.5   193.8         ohc              six
12     15     bmw      sedan       110.0   197.0         ohc              six

    horsepower  average-mileage    price
3          102               24  13950.0
4          115               18  17450.0
5          110               19  15250.0
6          110               19  18920.0
7          101               23  16430.0
8          101               23  16925.0
9          121               21  20970.0
10         182               16  30760.0
11         182               16  41315.0
12         182               15  36880.0
Last 5 rows of premium cars
    index  company   body-style  wheel-base  length engine-type  \
10     13      bmw        sedan       103.5   189.0         ohc
11     14      bmw        sedan       103.5   193.8         ohc
12     15      bmw        sedan       110.0   197.0         ohc
45     61  porsche      hardtop        89.5   168.9        ohcf
46     62  porsche  convertible        89.5   168.9        ohcf

   num-of-cylinders  horsepower  average-mileage    price
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
45              six         207               17  34028.0
46              six         207               17  37028.0

### Find the number of cars (rows) for each company.

In [36]:
print(f"The the number of cars (rows) for each company\n{df_cleaned.groupby('company').size()}")

The the number of cars (rows) for each company
company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            1
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          2
toyota           7
volkswagen       4
volvo            2
dtype: int64

### Find the maximum price for each company.

In [38]:
print(f"Maximum price for each company\n{df_cleaned.groupby('company')['price'].max()}")

Maximum price for each company
company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64